@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255; /* change to the color of your text */
  --background-start-rgb: 237, 233, 254; /* change to the start color of your gradient */
  --background-end-rgb: 221, 214, 254; /* change to the end color of your gradient */
  --scrollbar-color: 107, 114, 128; /* change to the color of your scrollbar */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255; /* change to the color of your text in dark mode */
    --background-start-rgb: 0, 0, 0; /* change to the start color of your gradient in dark mode */
    --background-end-rgb: 0, 0, 0; /* change to the end color of your gradient in dark mode */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Global Scrollbar Styles */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-track-hover {
  background: #f2f2f2;
}

::-webkit-scrollbar-thumb {
  background: rgb(var(--scrollbar-color));
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#first-image {
  display: block;
  width: 50%;
  height: auto;
}

#second-image {
  display: block;
  width: 50%;
  height: auto;
}

@media screen and (max-width: 768px) /* change the breakpoint accordingly */ {
  #first-image {
    display: none;
  }
  #second-image {
    width: 100%;
  }
}
